#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


table {
  border-spacing: 1em;
  max-width: 640px;
  overflow-x: scroll;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: .25em;
}

table td, table td * {
  vertical-align: top;
}
pre {
  font-size: smaller;
  white-space: pre-wrap;
  word-break:break-all;
  word-wrap: break-word;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:end;
  align-items: center;
  padding-bottom: 10px;
}


.connection-status {
  display: flex;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.circle.red {
  background-color: red;
}

.circle.orange {
  background-color: orange;
}

.circle.green {
  background-color: green;
}

.circle.gray {
  background-color: gray;
}

.block-info.red {
  color: red;
}

.block-info.orange {
  color: orange;
}

.block-info.green {
  color: green;
}

.block-info.gray {
  color: gray;
}

.block-info {
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 12px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.header-content {
  /* Add styles for the header content */
}

.wallet-info {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.balance {
  margin-right: 10px;
  color: #007bff;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Trading pairs list */
.trading-pairs {
  width: 200px;
  padding: 20px;
}

.trading-pairs ul {
  list-style-type: none;
  padding: 0;
}

.trading-pairs li {
  cursor: pointer;
  padding: 5px;
}

.trading-pairs li.selected {
  background-color: #ccc;
}